*{
    margin: 0;
    padding: 0;
}
body {
	background: url(images/348fon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #161515;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 20px;
  }
  
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #161515;
  }
header {
    height: 140px;
    display: flex;
    margin-bottom: 200px;
}
header a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.foto img {
    height: 40px;
    transition: 0.3s;
}
.foto img:hover {
    filter: contrast(30%);
}
content {
    background-color: brown;
    height: 1000px;
}
.block_header1 {
    
    display: flex;
    
    align-items: center;
    width: 40%;
    margin-left: 20px;
}

 .block_header2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin-right: 10px;
    
}
.knopka {
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-right: 3%;
    margin-left: 3%;
    transition: 0.3s;
}
.knopkaF {
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-right: 3%;
    margin-left: 3%;
    transition: 0.3s;
}
.squadG {
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-right: 3%;
    margin-left: 3%;
    transition: 0.3s;
}
.squad {
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-right: 3%;
    margin-left: 3%;
    transition: 0.3s;
}
.knopka::after {
	content: '';
	width: 0;
	display: block;
    height: 2px;
    border-radius: 1px;
	background-color: white;
	transition: 0.3s;
}
.knopkaF::after {
	content: '';
	width: 100%;
	display: block;
    height: 2px;
    border-radius: 1px;
	background-color: white;
	transition: 0.3s;
}
.squadG::after {
	content: '';
	width: 100%;
	display: block;
    height: 2px;
    border-radius: 1px;
	background-color: red;
	transition: 0.3s;
}
.squad::after {
	content: '';
	width: 0;
	display: block;
    height: 2px;
    border-radius: 1px;
	background-color: red;
	transition: 0.3s;
}
.squadG a {
	color: red;
}
.squad a:hover {
	color: red;
}
.squad:hover::after {
	width: 100%;
}
.squadG:hover::after {
	width: 100%;
}
.knopka:hover::after {
	width: 100%;
}
footer {
    background-color: rgba(0, 0, 0, 0.815);
    height: 250px;
    margin-top: 200px;
    font-family: Trebuchet MS;
    font-size: 200px ;
    color: #ffffff;
    padding: 30px;
}
.conteiner {
    display: flex;
    justify-content: center;
    
}
.block_content {
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 8px;
    font-size: 100px;
    display: flex;
    font-family: Trebuchet MS;
    justify-content: center;
    align-items: center;
}
.block_content:hover {
    font-size: 130px;
    color: rgb(218, 21, 21);
    cursor: pointer;
}

#DellBut {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
    font-size: 25px;
    font-family: Trebuchet MS;
    text-transform: uppercase;
}
#MikasaImg {
    height: 100%;
    transform: scale(-1, 1)
}